@charset "UTF-8";

.review{
	width:1000px;
	height: 800px;
	margin: 0 auto;
	border-radius: 5px;
 	background-color: #f2f2f2;
 	padding: 20px;
}
.re_hdtitle{
	font-style: italic;
	margin-bottom: 30px;
}
.rvtitle , .reviewaccname{
  width: 800px;
  height: 30px;
  margin-top: 6px;
  
  }
.rvcontent{
	width: 800px;
	height: 400px;
	margin-top: 30px;
}

#review_submit{
	float: right;
	margin-right: 28px;
}
.stayinfo{
	margin-left: 28px;
}
.reviewgrade{
	height: 55px;
	margin-top:20px; 
}
.star-rating {
  text-align: center;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
  margin-left: 175px;
  position: relative;
  top:-50px;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#488ee8;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#3365A6;
}

label{
	width: 15%;
	padding: 12px 12px 12px 0;
    display: inline-block;
}
.rvfile{
	margin:30px 0 0 97px;
}

