body{
	text-align: center;
	margin: auto;
}
.a{
	width: 200px;
	height: 200px;
}
.b{
	margin: auto;
	text-align: center;
}
.c{
	text-decoration-line: none;
}
.bt1{
	width: 100%;
	height: 100%;
	background-color: #3573c4;
    border-color: transparent;
    border-radius: 3px;
    padding: 20px 20px;
    font-weight: bold;
    font-size: large;
    color: white;
}
.bt1:hover{
	background-color: #3573c4;
}
.bt2{
	width: 100%;
	height: 100%;
	background-color: #4b94f2;
    border-color: transparent;
    border-radius: 3px;
    padding: 20px 20px;
    font-weight: bold;
    font-size: large;
    color: white;
}
.bt2:hover{
	background-color: #3573c4;
}
.d{
	position: relative;
}
table{
	margin: auto; 
}
.memberstable, .companytable{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: x-large;
}
input{
	line-height: 25px;
	margin-left: 10px;
}

.button{
	background-color: #4b94f2;
    border-color: transparent;
    border-radius: 3px;
	line-height: 25px;
	margin-left: 10px;
	color: white;
}
.button:hover{
	background-color: #3573c4;
}
.button2{
	background-color: #4b94f2;
    border-color: transparent;
    border-radius: 3px;
	line-height: 25px;
	margin-left: 10px;
	color: white;
	margin-top: 5px;
}
.button2:hover{
	background-color: #3573c4;
}