.date{
    padding-left: 33px;
    padding-right: 33px;
}
.join{
    margin: auto;
    text-align: center;
}
.join2{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 145, 255);
    border-color: transparent;
    border-radius: 3px;
    color: white;
}
.button{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 145, 255);
    border-color: transparent;
    border-radius: 3px;
    color: white; 
}
a{
    color: white;
    text-decoration: none;
}
.gender{
	text-align: center;
	width: 177px;
}