#button{
    background-color: rgb(0, 145, 255);
    border-color: transparent;
    border-radius: 3px;
    padding: 4%;
    margin-right: 20px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    
}