*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	text-align: center;
}
.a{
	width: 200px;
	height: 200px;
	align-items: center;
}
ul>li{
    list-style: none;
}

.customer{
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
}
.textarea{
    border-color: gray;
}
.agree{
    text-align: center;
}
.button{
    background-color: #4b94f2;
    border-color: transparent;
    border-radius: 3px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: x-large;
    color: white;
}
.button:hover{
	background-color: #3573c4;
}
a{
    color: white;
    text-decoration: none;
}
.using{
    font-weight: bold;
    
}
.term_content{
    width: 500px;
    height: 200px;
}