body{
	text-align: center;
}
.a{
	width: 200px;
	height: 200px;
}
.b{
	margin: auto;
	text-align: center;
}
#button{
	background-color: #4b94f2;
	border-color: transparent;
	border-radius: 3px;
	padding-left: 110px;
	padding-right: 110px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-size: large;
	margin-top: 10px;
	margin-left: 10px;
}
#button:hover{
	background-color: #3573c4;
}
.button1,.button2{
	background-color: #4b94f2;
	border-color: transparent;
	border-radius: 3px;
	padding-left: 24px;
	padding-right: 18px;
	padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-top: 10px;
}
.button1:hover, .button2:hover{
	background-color: #3573c4;
}
.account{
    font-weight: bold;

}
.account2{
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.radio{
	margin-top: 15px;
    margin-bottom: 25px;
}
a{
    color: white;
    text-decoration: none;
}