@charset "UTF-8";

.mypage{
   background-color: #f5f5f5;
   margin: 0 auto;
   width:1200px;
   height:900px;
}
.mypage_body{
      /* margin: 50px 0 50px 0; */
}
.user{
   display: inline-block;
   margin-bottom: 30px;
}
.user_tab{
   text-align: center;
   width: 1200px;
}
#user_icon{
   margin: 50px 0 20px 0;
}
.usertext{
   font-size: 30px;
   color: #333;
}
.user_setting a{
   color: #333;
   text-decoration: none;
}

.mypage_title{
   color: #333;
   font-size: 
}
.mypage_button {
   width: 1200px;
   text-align: center;
}
.mp_but_sub{
   margin-left: 10px;
}
a{
   text-decoration: none;
}
.box{
   margin-left:50px; 
}
a.button {
  display: block;
  position: relative;
  float: left;
  width: 360px;
  padding: 0;
  margin: 10px 0px 60px 4px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #37474f;
  border-radius: 5px;
  transition: all 0.2s ;
  border: 1px solid #e3e3e3;
}
.btnBlueGreen {
  background: #ffffff;
}
.btnFade.btnBlueGreen:hover {
  background: #ECEFF1;
}
.event{
   clear:both;
   text-align: center;
}
input{
   border-radius: 10px;
   margin-right: 30px;
}

a.but_sub {
  display: block;
  position: relative;
  float: left;
  width: 1100px;
  padding: 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #37474f;
  border-radius: 5px;
  transition: all 0.2s ;
  border: 1px solid #e3e3e3;
}
.btnqa {
  background: #ffffff;
}
.btnF.btnqa:hover {
  background: #ECEFF1;
}
.mypagebut_2{
   margin:50px 0 50px 50px;
   display: block;
}

.mypage_title{
   font-size: 30px;
   font-style: bold;
   margin-bottom: 30px;
   
   
}
.mypagebut_sub{
   clear:both;
}
.gndo1{
   clear:both;
   font-size: 25px;


}
.gndo1 a{
   text-decoration: none;
   color: #333;
}